*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:
linear-gradient(135deg,#050816,#0a1026,#111b3a);

color:white;

min-height:100vh;

overflow-x:hidden;

display:flex;

justify-content:center;

align-items:center;

}

/* BACKGROUND GLOW */

body::before{

content:"";

position:fixed;

width:600px;
height:600px;

background:cyan;

filter:blur(220px);

opacity:0.10;

top:-200px;
left:-150px;

z-index:-1;

}

body::after{

content:"";

position:fixed;

width:500px;
height:500px;

background:#00ff88;

filter:blur(220px);

opacity:0.08;

bottom:-150px;
right:-120px;

z-index:-1;

}

/* AUTH BOX */

.auth-box{

width:420px;

background:rgba(255,255,255,0.05);

padding:40px;

border-radius:30px;

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.08);

box-shadow:
0 0 30px rgba(0,255,255,0.15);

animation:fadeUp 1s ease;

}

/* TITLE */

.auth-box h1{

text-align:center;

font-size:3rem;

color:#00ffff;

margin-bottom:10px;

letter-spacing:4px;

text-shadow:
0 0 20px cyan;

}

/* SUBTEXT */

.auth-box p{

text-align:center;

color:#aaa;

margin-bottom:30px;

font-size:1rem;

line-height:1.7;

}

/* INPUTS */

.auth-box input{

width:100%;

padding:16px;

margin-bottom:18px;

border:none;

outline:none;

border-radius:15px;

background:
rgba(255,255,255,0.08);

color:white;

font-size:1rem;

backdrop-filter:blur(10px);

transition:0.3s;

}

/* INPUT PLACEHOLDER */

.auth-box input::placeholder{

color:#bbb;

}

/* INPUT FOCUS */

.auth-box input:focus{

border:1px solid cyan;

box-shadow:
0 0 15px rgba(0,255,255,0.3);

}

/* BUTTON CONTAINER */

.buttons{

display:flex;

flex-direction:column;

gap:15px;

margin-top:10px;

}

/* BUTTONS */

.buttons button{

padding:15px;

border:none;

border-radius:15px;

font-size:1rem;

font-family:Poppins;

cursor:pointer;

transition:0.3s;

background:
rgba(0,255,255,0.12);

color:white;

backdrop-filter:blur(10px);

}

/* BUTTON HOVER */

.buttons button:hover{

background:cyan;

color:black;

transform:scale(1.03);

box-shadow:
0 0 20px rgba(0,255,255,0.4);

}

/* USER INFO */

#userInfo{

margin-top:25px;

text-align:center;

font-size:1rem;

color:#00ff99;

line-height:1.7;

}

/* POPUP */

.popup{

position:fixed;

top:20px;

right:20px;

padding:15px 20px;

border-radius:15px;

background:
rgba(0,255,255,0.12);

border:1px solid cyan;

backdrop-filter:blur(12px);

opacity:0;

transition:0.5s;

z-index:999;

color:white;

font-size:0.95rem;

box-shadow:
0 0 20px rgba(0,255,255,0.2);

}

/* ANIMATION */

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(30px);

}

100%{

opacity:1;

transform:translateY(0px);

}

}

/* RESPONSIVE */

@media(max-width:500px){

.auth-box{

width:92%;

padding:30px;

}

.auth-box h1{

font-size:2.4rem;

}

}
